.notification-container {
  background: #ffffff;
  border-bottom: 1px solid #e9eceb;
  

  
}
.notification__a-p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1.06rem;
  }
