.nearby-location {
  background-color: #e9eceb;
  border-radius: 4px;
  padding: 12px 8px 12px 4px;
}
.amenities {
  background-color: #d3e1fa;
  border-radius: 4px;
}
.habits {
  background-color: rgba(224, 62, 45, 0.1);
  border-radius: 4px;
}
.interested {
  background-color: #28519e;
  color: #ffffff;
  border-radius: 4px;
  width: fit-content;
}
.text {
  width: fit-content;
  text-align: center;
}
.grid-container {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  /* grid-column-start: 1;
    grid-column-end: 2; */
}

/* .scrollbar {
  height: 46.375rem;
  overflow: scroll;
  background-color: #ffffff;
} */

/*----------------------------------------card------------------------------------------------*/

.availableAcco__card {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(46, 72, 87, 0.18);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.availableAcco__card-p-name {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.18rem;
  color: #28519e;
  cursor: pointer;
}

.availableAcco__card-p-id {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.81rem;
  line-height: 1rem;
  color: #8e8e92;
}

.availableAcco__card-p-sector {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18rem;
  margin-left: 0.37rem;
  color: #343435;
}

.availableAcco__card-p-main {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.06rem;
  color: #343435;
}

.availableAcco__toggle-b {
  background: #e9eceb;
  border-radius: 32px;
  padding: 6px 8px;
  gap: 16px;
}

.availableAcco__toggle-b-blue {
  background: #28519e;
  box-shadow: 0px 0.25rem 10px rgba(46, 72, 87, 0.15);
  border-radius: 41px;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  border: none;
}

.availableAcco__toggle-b-white {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 1.06rem;
  color: #ffffff;
}

.availableAcco__toggle-b-black {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 1.06rem;
  color: #343435;
}

.availableAcco__toggle-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 1.06rem;
}
.availableAcco__toggle-active {
  background: #28519e;
  box-shadow: 0px 4px 10px rgba(46, 72, 87, 0.15);
  border-radius: 41px;
  color: #ffffff;
}


.availableAcco__card-p-green {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18rem;
  color: #14a450;
  margin-bottom: 0rem;
  margin-left: 0.5rem;
}

.single_card {
  width: 77.5rem;
}


.no_data_box
{
  box-shadow: 0px 4px 10px rgba(46, 72, 87, 0.18);
  border-radius: 0.5rem;
  height: 46.37rem;
}



