@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.subheado {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.06rem;
  color: #343435;
}

.flatbtn p {
  color: #343435;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
  margin: 0.75rem 0.75rem;
}

.p_input {
  margin-bottom: 6px;
}

.Step5__form-heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18rem;
}

.Step5__btn-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
}
.Step5__btn-style {
  background: #FFFFFF;
border: 1px solid #CACACA;
border-radius: 4px;
}

.Step5__btn-active {
  background: #28519e;
  border: 1px solid #cacaca;
  border-radius: 4px;
  color: white;
}

.Step5__btn-p-active {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1rem;
  color: white;
}

.Step5__form-italic {
  font-family: "Lato";
  font-style: italic;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1rem;
}
#timepicker:before {
  content: 'from '
}
#timepicker2:before {
  content: 'to '
}