.row {
  padding: 0px;
}

.butn {
  background: #ffb81c;
  box-shadow: 0px 2px 10px rgba(34, 62, 73, 0.1);
  border-radius: 4px;
  padding: 4px 16px;
  color: #343435;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
}

.Step2__p_color {
  color: #343435;
}

.imgButn {
  padding: 6px 24px;
  border: 1px solid #343435;
  border-radius: 4px;
  background-color: #ffffff;
}

.imgButn p {
  color: #343435;
  margin-bottom: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: end;
}
.Step2__add-info-style {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #343435;
}
.Step2__label-style {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #343435;
}
.Step2__blue-para-style {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

input.form-control:focus {
  
  outline: none !important ;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow:none;
  -webkit-box-shadow: none;
}
