.Step2__p_color {
  color: #343435;
}

.Step2__add-info-style {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #343435;
}
.Step2__label-style {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #343435;
}
.Step2__blue-para-style {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

input.form-control:focus {
  outline: none !important ;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.prev-btn {
  background: #ffffff;
  border: 1px solid #343435;
  box-shadow: 0px 2px 10px rgba(34, 62, 73, 0.1);
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 2rempx;
  /* identical to box height, or 229% */

  text-align: center;

  /* Primary/Gray */

  color: #343435;
}

.save-btn {
  background: #ffb81c;
  box-shadow: 0px 2px 10px rgba(34, 62, 73, 0.1);
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 2rem;
  text-align: center;
  color: #343435;
}
