.landingPage__mainheading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.landingPage__head-para {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.landingPage__btn-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.landingPage__mid-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.landingPage__p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}

.landingPage__head {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.landingPage__dyn-p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.landingPage__result-btn {
  background: #ffffff;
  border: 2px solid #343435;
  border-radius: 50px;
}
@media  (max-width:576px) {
  
}
